.header__lang-link {
  color: white;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  transition: .3s ease-in;
}

.header__lang-link:hover {
  opacity: 80%;
  transition: .3s ease-out;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
