.place__title {
    font-family: 'inter-Black';
    font-size: 72px;
    line-height: 76px;
    color: white;
    padding: 0;
    grid-column: 1;
    grid-row: 1;
    margin: 0;
}

@media screen and (max-width: 896px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 720px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        padding: 0 16px;
    }
}