.page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 28px 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .page {
    padding: 16px 0 24px;
  }
}
