.lead__subtitle {
    width: 640px;
    height: 72px;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0%;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding: 0 5%;
    margin: 32px 0 64px;
}

@media screen and (max-width: 720px) {
    .lead__subtitle {
        width: 288px;
        height: 40px;
        font-size: 16px;
        line-height: 20px;
        margin: 16px 0 40px;
    }
}