.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  max-height: 740px;
  text-decoration: none;
  box-sizing: border-box;
  margin: 92px 0;
}

@media screen and (max-width: 1279px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    min-height: 480px;
    margin: 90px 0;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    min-height: 200px;
    margin: 66px 0 64px;
  }
}
