.cover__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #2a2c2f;
    z-index: 2;
    opacity: .3;
    transition: 1s ease;
}

.cover__overlay:hover {
    opacity: .7;
    transition: 1s ease-in-out;
}

