.place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, min-content);
    grid-gap: 48px 40px;
    grid-auto-rows: 0;
    overflow-y: hidden;
    height: min-content;
    box-sizing: border-box;
}

@media screen and (max-width: 1152px) {
    .place {
        grid-gap: 48px 32px;
    }
}

@media screen and (max-width: 896px) {
    .place {
        grid-gap: 48px 28px;
    }
}

@media screen and (max-width: 720px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, min-content);
        grid-gap: 32px;
        align-content: center;
    }
}